In [1]:
import pandas as pd

df = pd.read_csv('/Users/stevenchan/Documents/TECHX_2019/Self/Assignments/Assignment2/dataset/ramen-ratings.csv')

In [2]:
 df['Stars'] = pd.to_numeric(df['Stars'])

In [3]:
avg = df.groupby(['Country'])['Stars'].mean()
avg

Country
Australia        3.138636
Bangladesh       3.714286
Brazil           4.350000
Cambodia         4.200000
Canada           2.243902
China            3.421893
Colombia         3.291667
Dubai            3.583333
Estonia          3.500000
Fiji             3.875000
Finland          3.583333
Germany          3.638889
Ghana            3.500000
Holland          3.562500
Hong Kong        3.801825
Hungary          3.611111
India            3.395161
Indonesia        4.067460
Japan            3.981605
Malaysia         4.149359
Mexico           3.730000
Myanmar          3.946429
Nepal            3.553571
Netherlands      2.483333
Nigeria          1.500000
Pakistan         3.000000
Philippines      3.329787
Poland           3.625000
Sarawak          4.333333
Singapore        4.126147
South Korea      3.788026
Sweden           3.250000
Taiwan           3.665402
Thailand         3.384817
UK               2.997101
USA              3.457043
United States    3.750000
Vietnam          3.187963
Name: Stars, dtype: float64

In [4]:
type(avg)

pandas.core.series.Series